<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid container">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/">Home</a>
						</li>
						{% if (token) %}
							<li>
								<a class="nav-link" id="logout" href="/">會員登出</a>
							</li>
						{% else %}
							<li>
								<a class="nav-link" href="/users/">會員登入</a>
							</li>
						{% endif %}
						{% if admin %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									後台管理
								</a>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="/member-manager/">會員管理</a>
									</li>
									<li>
										<a class="dropdown-item" href="/article-manager/">文章管理</a>
									</li>
								</ul>
							</li>
						{% endif %}
					</ul>
					{% if (title) == 'Blog' %}
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="文章標題" aria-label="Search" id="title" name="title">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="container">
			{% block body %}
				{# reserve #}
			{% endblock %}
		</div>
		<script src="/javascripts/logout.js"></script>
		<script type="text/javascript" color="211,88,106" pointcolor="211,88,106" opacity='1' zIndex="-2" count="200" src="/javascripts/canvas-nest.js"></script>
	</body>
</html>
