{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <div style="text-align:center">
    <button type="submit" class="btn btn-primary btn-block mb-3" onclick="location.href='/'">返回</button>
  </div>
{% endblock %}
