{% extends 'layout.twig' %}

{% block body %}
	<h1>{{title}}</h1>
	<a href="/article-manager/editor?mode=add" class="btn btn-primary">新增文章</a>
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">文章名</th>
				<th scope="col">類別</th>
				<th scope="col">作者</th>
				<th scope="col">創建時間</th>
				<th scope="col">功能</th>
			</tr>
		</thead>
		<tbody id='articles-list'>
		</tbody>
	</table>
	<script src="/javascripts/article-manager.js"></script>
{% endblock body %}
