{% extends 'layout.twig' %}

{% block body %}
	<h1>{{title}}</h1>
	<div style="text-align:left">
		<a href="/article-manager/editor?mode=add" class="btn btn-primary btn-block mb-3">新增文章</a>
	</div>
	<table class="table" style="table-layout: fixed; word-wrap: break-word;">
		<thead class="table-dark">
			<tr>
				<th scope="col" style="width: 5%">#</th>
				<th scope="col" style="width: 30%">文章名</th>
				<th scope="col" style="width: 10%">類別</th>
				<th scope="col" style="width: 15%">作者</th>
				<th scope="col" style="width: 20%">創建時間</th>
				<th scope="col" style="width: 10%">功能</th>
			</tr>
		</thead>
		<tbody id='articles-list'></tbody>
	</table>

	<div style="text-align:center">
		<button type="submit" class="btn btn-primary btn-block mb-3" onclick="location.href='/'">返回</button>
	</div>
	<script src="/javascripts/article-manager.js"></script>
{% endblock body %}
