{% extends 'layout.twig' %}

{% block body %}
	<div class="mt-3">
		<h1>{{title}}</h1>
	</div>

	<div style="text-align:right" class="p-2">
		<button type="button" class="btn btn-primary btn-block" onclick="location.href='/article-manager/editor?mode=add'">新增</button>
		<button type="button" class="btn btn-secondary btn-block" onclick="location.href='/'">返回</button>
	</div>

	<table class="table" style="table-layout: fixed; word-wrap: break-word;">
		<thead class="table-dark">
			<tr>
				<th scope="col" style="width: 5%">#</th>
				<th scope="col" style="width: 30%">文章名</th>
				<th scope="col" style="width: 5%">類別</th>
				<th scope="col" style="width: 16%">作者</th>
				<th scope="col" style="width: 12%">創建時間</th>
				<th scope="col" style="width: 12%">更新時間</th>
				<th scope="col" style="width: 10%">功能</th>
			</tr>
		</thead>
		<tbody id='articles-list'></tbody>
	</table>
	<script src="/javascripts/article-manager.js"></script>
{% endblock body %}
